#new-grid {
    margin-bottom: 20px;
}

#main-container {
    display: flex;
    height: 600px;
    width: 600px;
    flex-wrap: wrap;
    border: 2px black solid;
}

.square {
    box-sizing: border-box;
    border: 1px #f2f2f2 solid;
}

body {
    font-family: "Roboto", sans-serif;
}